#ccaptcha_button{background: url('../images/f5.png');border: none;height: 32px;width: 32px;font-size: 0px; }
.main-content{position: inherit !important;}
.navbar.horizontal-menu .navbar-inner > .nav > li > a.notification-icon .badge{font-size: 10px;}