.breview-box{background:#FFF;overflow:hidden;font-family:Tahoma;font-size:11px;color:#333;line-height:1.5;padding:10px 8px 0}
.breview-box p{margin:0;padding:0}
.adx-domain,.adx-domain a{color:#666;padding-left:1px!important;text-decoration:none;clear:both}
.adx-title,.adx-title a{text-decoration:none;font-weight:700;color:#000;float:left}
.adx-title a:hover{color:#34B9E2}
.adx-body{clear:both;padding-top:5px}
.margin-top10{margin-top:10px}
.width-300{width:278px}
.with-160{width:158px}
.TextLinkEditor{background-color:#f1f1f1;display:block;border:solid 1px #ccc;margin:5px;padding:10px}
.adx-image{width:95px;margin-right:5px;display:block;float:left}
.adx-image img{width:90px;border:none}
.adx-sep-h{height:1px!important;line-height:1px;border-top:solid 1px #ccc}
.adx-border{border:1px solid #C8C8C8}
.adx-row{margin-bottom:10px}