.index-banner-bg,
.index-banner-mask {
    width: 100%;
    position: absolute;
    z-index: -1
}

.album-item .item-title,
.index-banner-text,
.index-banner-title,
.index-night-time p:nth-of-type(2) span:nth-last-of-type(1),
.index-night-time_2 p:nth-of-type(2) span:nth-last-of-type(1),
.index-photowall-inner,
.xs-index-guide-item {
    text-align: center
}

.xs-index-guide {
    display: flex;
    flex-wrap: wrap
}

.xs-index-guide>li {
    position: relative;
    flex: auto
}

.xs-index-guide>li::before {
    content: '';
    display: block;
    padding-top: 100%
}

.xs-index-guide-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #88b04b;
    font-size: 12px
}

.xs-index-guide-img .iconfont {
    font-size: 9vw
}

.xs-index-guide-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0)
}

.index-banner {
    position: relative;
    margin-top: -50px;
    z-index: 1;
    padding-bottom: 5px;
    border-top: 1px solid transparent
}

@media screen and (max-width:1000px) {
    .index-banner {
        margin-top: 0;
        background-color: #88b04b
    }

    .index-banner-mask {
        display: none
    }
}

.index-banner-bg {
    height: 100%;
    overflow: hidden
}

.index-banner-bg::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: 6px;
    z-index: -1;
    -webkit-filter: blur(6px);
    filter: blur(6px);
    background-size: cover
}

.index-banner-mask {
    bottom: 0;
    height: 70px;
    background-color: #f5f5f5
}

.index-banner-bg::before,
.index-banner-inner {
    background-image: url(../../images/index-banner.jpg);
    background-position: bottom center;
    background-repeat: no-repeat
}

.index-banner-box {
    position: relative;
    margin-top: 70px;
    border-radius: 10px;
    border: 5px solid rgba(255, 255, 255, .1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .1)
}

@media screen and (max-width:1000px) {
    .index-banner-bg::before {
        content: none
    }

    .index-banner-bg::before,
    .index-banner-inner {
        background-image: none
    }

    .index-banner-box {
        margin-top: 0;
        border-radius: 0;
        border: none;
        box-shadow: none
    }
}

.index-banner-inner {
    border-radius: 5px
}

.index-banner-main {
    margin: 0 auto;
    max-width: 900px;
    padding: 60px 14px 0
}

.index-banner-logo {
    display: block;
    margin: 0 auto;
    width: 351px;
    height: 97px
}

.index-banner-logo img {
    display: block;
    width: 100%;
    object-fit: contain
}

.index-banner-title {
    margin-top: 1.5em;
    font-size: 36px;
    font-weight: 700;
    color: #fff
}

@media screen and (max-width:1000px) {
    .index-banner-main {
        padding: 12px 0
    }

    .index-banner-title {
        font-size: 16px;
        margin-top: 0;
        line-height: 2
    }

    .index-banner-text {
        display: none
    }
}

@media screen and (max-width:1366px) {
    .index-banner-title {
        margin-top: .5em;
        font-size: 24px
    }

    .index-banner-logo {
        width: 270px
    }

    .index-banner-main {
        max-width: 760px
    }
}

.index-banner-text {
    margin-top: 1em;
    font-size: 14px;
    color: #fff
}

.index-search {
    position: relative;
    margin-top: 30px;
    height: 62px;
    line-height: 62px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, .2);
    color: #fff;
    font-size: 14px
}

.index-search:hover {
    border-color: rgba(255, 255, 255, .4)
}

@media screen and (max-width:1000px) {
    .index-search {
        margin-top: 12px;
        height: 40px;
        line-height: 40px
    }

    .index-search-select {
        display: none
    }
}

.index-search-select {
    float: left;
    position: relative;
    width: 198px;
    max-width: 33%;
    height: 100%;
    cursor: pointer;
    padding-left: 24px;
    user-select: none;
    z-index: 111
}

.index-search-select::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 10px;
    width: 2px;
    background-color: rgba(255, 255, 255, .2)
}

.index-search-selected {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 16px
}

.index-search-optgroup {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    width: 174px;
    padding: 0 16px;
    line-height: 32px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .3)
}

.index-search-select:hover .index-search-optgroup {
    display: block
}

.index-search-option i {
    display: none;
    margin: 2px 4px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAABEUlEQVQoU2NkIAD67qxSYWDgzmHEp27q/aUGf/5y7P77n/U4ToXTb06X/sfCe/rPfw7JvwxsG7Eq/P+fgXHmnZl7/zJyOf5h4GT4x8h+E65wzf0cjRDFKTdATpl9qz/tHxPXzD8MXAx//nMeYmJnjWRcdTeUn/GfQNt/Js70339ZnX78EzvPwMJ69w8Dt+hfBq7tr5j/BDUoJv5gXH8nofYfA2v9XwZO5j8MHPt//+fb84eRq/UvI9ep/+8ZHdNN0r+BbAFbvep2qv1/Rs6Vfxk4xf/85/n6m5H7CwMbq1GyXO4zWKgg3Hg3T/XXf669fxi4ZX78Z/VMU63YiRx0KL5ecrtS6z8TR0qscn0RevgCAHKRZYoCOfhSAAAAAElFTkSuQmCC)
}

.index-search-option.on i,
.index-search-option:hover i {
    display: inline-block
}

.index-search-select .icon-triangle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 8px;
    pointer-events: none
}

.index-search-input {
    position: relative;
    float: left;
    width: calc(100% - 198px);
    min-width: 67%;
    height: 100%;
    padding-right: 28px
}

@media screen and (max-width:1000px) {
    .index-search-input {
        width: 100%;
        padding-right: 0;
        background-color: #fff;
        border-radius: 20px;
        overflow: hidden
    }
}

.index-search-input input {
    width: 100%;
    height: 46px;
    line-height: 46px;
    padding-left: 18px;
    font-size: 16px;
    color: #000;
    background: #fff;
    outline: 0;
    border: 0;
    box-shadow: 0 0 2px 0 rgba(3,0,0,.1);
}
.scroll-Nav .index-search-input input {
    width: 100%;
    height: 46px;
    line-height: 46px;
    padding-left: 18px;
    font-size: 16px;
    color: #000;
    background: #fff;
    outline: 0;
    border: 0;
    box-shadow: 0 0 2px 0 rgba(3,0,0,.1);
}

@media screen and (max-width:1000px) {
    .index-search-input input {
        padding-right: 44px;
        color: #000
    }
}

.index-search-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: #fff;
    font-size: 24px
}

@media screen and (max-width:1000px) {
    .index-search-btn {
        color: #999
    }
}

.index-search-btn:hover .icon-sousuo {
    color: transparent;
    background: linear-gradient(90deg, rgba(176, 220, 94, 1), rgba(141, 220, 184, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.index-banner-recommend {
    margin-top: 30px;
    height: 26px;
    overflow: hidden;
    text-align: center
}

.index-banner-recommend-word {
    display: inline-block;
    margin: 0 6px;
    padding: 0 22px;
    height: 26px;
    line-height: 26px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 13px;
    white-space: nowrap;
    color: #fff
}

.index-banner-recommend-word:hover {
    background-color: rgba(0, 0, 0, .5)
}

.index-banner-footer {
    position: relative;
    margin-top: 80px;
    background-color: rgba(0, 0, 0, .1);
    height: 60px;
    line-height: 60px;
    border-radius: 0 0 5px 5px;
    overflow: hidden
}

@media screen and (max-width:1366px) {
    .index-banner-footer {
        margin-top: 34px
    }
}

@media screen and (max-width:1680px) {
    .index-banner-footer {
        font-size: 12px
    }
}

.index-banner-about {
    float: left;
    padding: 0 .625em
}

.index-banner-about-list {
    float: left;
    padding: 0 1em;
    font-weight: 700
}

.index-banner-about-icon {
    border-radius: 50%;
    width: 2.25em;
    height: 2.25em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b0dc5e;
    color: #b0dc5e
}

.index-banner-copy {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    padding: 0 3em;
    color: #fff;
    font-weight: 700;
    z-index: 1;
    border-top-left-radius: 4.166666666666667em;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .2)
}

@media screen and (min-width:1001px) {
    .response-item {
        width: 20% !important
    }
}

.album-item {
    margin: 10px
}

@media screen and (max-width:1000px) {
    .response-item:last-of-type .album-item {
        display: none
    }
}

.album-item .item-contain {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    background-color: #fff
}

.album-item .item-contain::before {
    content: '';
    display: block;
    padding-top: 68.75%
}

.album-item .item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.album-item .item-img img {
    display: block;
    width: 100%;
    object-fit: cover
}

.album-item .item-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.album-item .item-link::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
    transition: all .4s
}

.album-item:hover .item-link::before {
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7))
}

.album-item .item-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    line-height: 2em;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50%) translateY(-1em);
    transition: transform .4s
}

.index-night-time p:nth-of-type(2),
.index-night-time_2 p:nth-of-type(2) {
    line-height: 20px
}

.album-item:hover .item-title {
    transform: translateY(0)
}

.album-item .item-title span {
    width: 100%
}

.indexBack-box>li.vertical:last-child {
    margin-right: 0
}

.search-dropdown-wrap {
    top: 64px
}

.index-search .search-dropdown {
    margin: 0 24px
}

.mb-picbox {
    position: relative;
    border-radius: 6px;
    overflow: hidden
}

.mb-picbox>a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all .2s
}

li:hover .mb-picbox>a {
    background-color: rgba(0, 0, 0, .4)
}

.index-background-item .item-link,
.index-illustrations-item .item-link {
    top: 0;
    transition: opacity .2s;
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    left: 0;
    right: 0
}

.index-background {
    margin: -10px -10px 50px;
    display: flex;
    flex-wrap: wrap
}

.index-background-item:hover .hover-show a {
    transform: scale(1);
    opacity: 1
}

.index-background-item.across {
    width: 50%
}

@media screen and (max-width:1000px) {
    .index-background-item.across {
        width: 100%
    }
}

.index-background-item .item-box {
    margin: 10px;
    position: relative
}

.index-background-item .item-contain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    overflow: hidden
}

.index-background-item.across .item-box::before {
    content: '';
    display: block;
    padding-top: 31.333333333333335%
}

.index-background-item.vertical {
    width: 20%
}

@media screen and (max-width:1000px) {
    .index-background-item.vertical {
        width: 50%
    }

    .index-background>div:nth-of-type(6) {
        display: none
    }
}

.index-background-item.vertical .item-box::before {
    content: '';
    display: block;
    padding-top: 140.625%
}

.index-background-item .item-img {
    width: 100%;
    height: 100%
}

.index-background-item .item-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.index-background-item .item-link {
    position: absolute;
    opacity: 0
}

.index-background-item:hover .item-link {
    opacity: 1
}

.index-background-item .item-title {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1em;
    width: 100%;
    color: #fff;
    font-size: 12px
}

.index-illustrations {
    margin: -10px -10px 50px;
    display: flex;
    flex-wrap: wrap
}

.index-illustrations-item:hover .hover-show a {
    transform: scale(1);
    opacity: 1
}

.index-illustrations-item.across {
    width: 33.33333333333333%
}

@media screen and (max-width:1000px) {
    .index-illustrations-item.across {
        width: 100%
    }
}

.index-illustrations-item .item-box {
    margin: 10px;
    position: relative
}

.index-illustrations-item .item-contain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    overflow: hidden
}

.index-illustrations-item.across .item-box::before {
    content: '';
    display: block;
    padding-top: 56.50406504065041%
}

.index-illustrations-item.vertical {
    width: 20%
}

@media screen and (max-width:1000px) {
    .index-illustrations-item.vertical {
        width: 50%
    }

    .index-illustrations>div:nth-of-type(6) {
        display: none
    }
}

.index-illustrations-item.vertical .item-box::before {
    content: '';
    display: block;
    padding-top: 149.30555555555556%
}

.index-illustrations-item .item-img {
    width: 100%;
    height: 100%
}

.index-illustrations-item .item-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.index-illustrations-item .item-link {
    position: absolute;
    opacity: 0
}

.index-illustrations-item:hover .item-link {
    opacity: 1
}

.index-illustrations-item .item-title {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1em;
    width: 100%;
    color: #fff;
    font-size: 12px
}

.index-photowall {
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    background-color: #000
}

.index-photowall::before {
    content: '';
    display: block;
    padding-top: 31.25%;
    background-image: url(../../images/index-photo.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    filter: brightness(40%);
    transition: transform .4s
}

.index-photowall:hover::before {
    transform: scale3d(1.05, 1.05, 1)
}

.index-photowall-inner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: #fff
}

.index-photowall-title {
    font-size: 36px;
    font-weight: 700
}

@media screen and (max-width:1000px) {
    .index-photowall-title {
        font-size: 16px
    }

    .index-bottom {
        display: none
    }
}

.index-photowall-text {
    margin-top: 42px;
    font-size: 24px;
    font-weight: 700
}

@media screen and (max-width:1000px) {
    .index-photowall-text {
        margin-top: 12px;
        font-size: 14px
    }
}

.index-photowall-zebra {
    display: inline-flex;
    justify-content: center
}

.index-photowall-zebra span {
    width: 42px;
    height: 4px
}

.index-photowall-zebra span:nth-of-type(3n+1) {
    background-color: #dadada
}

.index-photowall-zebra span:nth-of-type(3n+2) {
    background-color: #585858
}

.index-photowall-zebra span:nth-of-type(3n+3) {
    background-color: #999
}

.index-night-wrap {
    position: absolute;
    right: 0;
    background: url(../../images/moon.png) center no-repeat;
    background-size: contain;
    width: 4.3rem;
    height: 3.3rem
}

.index-night-wrap i {
    position: absolute;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    font-size: .12rem;
    padding: .03rem;
    right: .1rem;
    top: .1rem
}

.index-night-tips,
.index-night-wrap_2 {
    right: 0;
    position: absolute
}

.index-night-time {
    width: 180px;
    color: #fff;
    font-size: .13rem;
    font-weight: 700;
    float: right;
    margin: 50px
}

.index-night-time p:nth-of-type(1) {
    font-size: .25rem;
    margin-bottom: .1rem
}

.index-night-time p:nth-of-type(2) span {
    display: block
}

.index-night-wrap_2 {
    width: 211px;
    height: 128px;
    background-color: rgba(255, 255, 255, .1);
    padding: .2rem;
    border-radius: 10px 0 0 10px
}

.index-night-wrap_2 i {
    position: absolute;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    font-size: .1rem;
    padding: .02rem;
    right: .1rem;
    top: .1rem
}

.index-night-time_2 {
    color: #fff;
    font-size: .12rem;
    font-weight: 700;
    float: right
}

.index-night-time_2 p:nth-of-type(1) {
    font-size: .12rem;
    margin-bottom: .1rem
}

.index-night-time_2 p:nth-of-type(2) span {
    display: block;
    font-weight: 400
}

.index-night-down,
.index-night-share,
.index-night-tips ul {
    position: relative;
    right: -71px
}

.index-night-down,
.index-night-share,
.index-night-tips ul>li {
    background-color: rgba(255, 255, 255, .1);
    padding: .05rem .2rem;
    margin-bottom: .2rem;
    border-radius: 0 17px 17px 0
}

.index-night-tips ul>li:nth-last-of-type(1) {
    margin-bottom: 0
}

.index-night-tips ul {
    transform: translate(-100%, 0);
    visibility: hidden;
    transition: all .3s;
    padding-bottom: .2rem;
    z-index: -1
}

.index-night-tips.on ul {
    transform: translate(0, 0);
    visibility: visible
}

.index-night-down i,
.index-night-share i {
    font-size: .25rem;
    color: #fff
}

.index-night-tips .share-group {
    display: flex;
    flex-direction: column
}

.index-night-tips .share-group>a {
    margin: 0
}

@media screen and (max-width:1000px) {
    .index-night-tips {
        display: none
    }
}